<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ asset('gold.png') }}" type="image/png">
    {% if title is defined %}
        <title>{{ title }}</title>
    {% endif %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/styles.css') }}">

        <style>
            label.required:after {
                color: red;
                content: " *";
            }
        </style>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('home') }}">
        <img src="{{ asset('gold.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span>Stocker</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" href="{{ path('home') }}">{{ constant('App\\Controller\\HomeController::TITLE_HOME') }}</a>
            <a class="nav-link" href="{{ path('method_list') }}">{{ constant('App\\Controller\\MethodController::TITLE_LIST') }}</a>
            <a class="nav-link" href="{{ path('prediction_list') }}">{{ constant('App\\Controller\\PredictionController::TITLE_LIST') }}</a>
            <a class="nav-link" href="{{ path('process_list') }}">{{ constant('App\\Controller\\ProcessController::TITLE_LIST') }}</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    {{ render(controller('App\\Controller\\BreadcrumbController::renderAction')) }}

    <div class="mt-3">{% block content %}{% endblock %}</div>
</div>

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/index.js') }}"></script>
{% endblock %}
</body>
</html>
