{% extends 'base.html.twig' %}

{% block content %}
    {% if process.statusWaiting %}
        <h4>Прогноз находится в очереди</h4>
        {% set value = 1 %}
    {% endif %}

    {% if process.statusProcessing %}
        <h4 data-url-check="{{ path('process_check', { id: process.id }) }}"
            data-url-redirect="{{ path('prediction_list', { show: process.id }) }}"
            data-status-processing>Прогноз запущен, необходимо подождать завершения</h4>
        {% set value = 10 %}
    {% endif %}

    {% if process.statusDone %}
        <h4>Прогноз завершен</h4>
        {% set value = 100 %}
    {% endif %}

    <div class="mb-3">
        <div>Метод: {{ process.method.title }}</div>
        <div>Метал: {{ process.metal.title }}</div>
        <div>Тип прогноза: {{ process.period.title }}</div>

        {% if process.statusDone %}
            <div>Успешно: {{ process.success ? 'Да' : 'Нет' }}</div>
        {% endif %}

        {% set options = process.options %}
        <div>Диапазон известных котировок: {{ options['start'] is null ? 'нет' : options['start']|date('d.m.Y') }} - {{ options['end'] is null ? 'нет' : options['end']|date('d.m.Y') }}</div>
        <div>Запущено в: {{ process.createdAt|date('d.m.Y H:i') }}</div>

        {% if process.endedAt is not null %}
            <div>Завершено в: {{ process.endedAt|date('d.m.Y H:i') }}</div>
        {% endif %}
    </div>

    <div class="progress" style="height: 20px">
        <div class="progress-bar progress-bar-striped progress-bar-animated"
             role="progressbar"
             aria-valuenow="{{ value }}"
             aria-valuemin="0"
             aria-valuemax="100"
             style="width: {{ value }}%"
             data-width="{{ value }}"></div>
    </div>
{% endblock %}
